.content  {
  background-color: #F1F1F1;
  -webkit-box-shadow: 2px 4px 12px 6px rgba(0,0,0,0.16);
  -moz-box-shadow: 2px 4px 12px 6px rgba(0,0,0,0.16);
  box-shadow: 2px 4px 12px 6px rgba(0,0,0,0.16);
}


.circle {
  width: 58px;
  height: 58px;
  padding: 10px 10px;
  border-radius: 50px;
  /* font-size: 15px;
  text-align: center; */
}

.photo {
  width: 139px;
  height: 145px;
  border-radius: 70px;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}