img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.spacing {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* html {
  scroll-behavior: smooth;
} */

